@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,800&family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: hsl(214, 77%, 65%);
    --secondary-color: hsl(214, 100%, 76%);
    --tertiary-color: hsl(214, 51%, 41%);
    --quaternary-color: hsl(213, 70%, 79%);
    --quinary-color: hsl(39, 64%, 38%);
    --senary-color: hsl(39, 77%, 65%);

    --lighgray-color: hsl(0, 0%, 69%);
    --darkgray-color: hsl(0, 0%, 36%);

    --black-color: hsl(0, 0%, 14%);
    --white-color: hsl(0, 0%, 100%);

    --tittle-font: 'Press Start 2P', cursive;
    --normal-font: 'Open Sans', sans-serif;
}

